@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #020617;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
  color: white;
}